*, *::before, *::after {
    box-sizing: border-box;
}

  @font-face {
    font-family: 'Digital';
    src: url('DS-DIGI.woff2') format('woff2'),
         url('DS-DIGI.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Improves loading performance */
}

* {
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

input, button, textarea, select {
    font: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
body {
    font-family: system-ui, Arial, sans-serif;
    background-image: url("background-islands.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
}

.logo img{
    width:200px;
    height: 100px;
}

.logo {
    padding: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    height: 3em;
    margin-top: 5em;
    gap:20px;
    align-items: center;
    background-color:  rgba(0, 0, 0, 0.5);
    font-size: calc(max(x-large, 40%));
    font: 'Digital';
    color: aquamarine;
}

.form-body{
    height: 100%;
    width: 60%;
    display: flex;
    padding: 4ch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(236,236,236,1);
}

.form-body .header{
    font-size: 2rem;
    color: grey;
    margin: 2ch 0ch 2ch 0ch;
}

fieldset{
    position: relative;
    padding: 5ch;
    margin: 0ch -2ch 2ch -2ch;
    border-radius: 10px;
    border: lightgrey solid 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5ch;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}

legend{
    position: absolute;
    top: 1ch;
    left: 4ch;
    background: white;
    padding: 0.5ch 1ch;
    text-align: left;
    font-size: 18px;
    border: none;
}

label{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

input{
    border-radius: 5px;
    border: grey solid 1px;
    padding: 0.25em;
    width:30ch;
    height: 2em;
}

 form button{
    border-radius: 5px;
    text-align: center;
    padding:1ch;
    background-color: rgb(67, 121, 57);
    color: white;
    margin-bottom: 1ch;
    box-shadow: none;
    border: 0px solid grey;
 }

 a{
    text-decoration: none;
    color: rgb(67, 121, 57)
 }

 a:hover{
    cursor:pointer;
    color:rgb(1,1,96)
 }

 input:invalid{
    border: 1px solid red;
 }

 input:focus{
    border: 2px solid rgba(1,1,68,1)
 }
